header {
  background-color: whitesmoke;
  padding: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: x-large;
  color: #000;
  margin: 5px;
}

@media (max-width: 1023px) {
  .menu-principal {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* Suaviza el desplazamiento en iOS */
  }

  .menu-principal ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 4px;
    flex-wrap: nowrap;
    /* evita que los elementos salten de línea */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* efecto de encaje */
  }

  .menu-principal ul li {
    flex: 0 0 auto;
    /* evita que los items se estiren */
    scroll-snap-align: start;
  }

  .menu-principal ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: 5px 5px;
    border-radius: 6px;
    white-space: nowrap;
    /* evita que se corten las palabras */
    transition: background-color 0.3s;
  }
}

/* Estilos para pantallas grandes (PCs) */
@media (min-width: 1024px) {
  header {
    background-color: whitesmoke;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  header h1 {
    font-size: 40px;
  }

  main {
    background-color: whitesmoke;
    padding: 30px;
    margin-bottom: 5px;
    border: 2px #050505;
  }

  footer {
    background-color: whitesmoke;
    padding: 5px;
    text-align: center;
  }

  .encabezado-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Menú principal */
  .menu-principal ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .menu-principal ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
  }

  h1,
  h2,
  h3 {
    font-family: "Georgia", serif;
    color: #2c3e50;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }

  @media print {
    body {
      background-color: white;
      color: black;
    }

    a {
      color: black;
      text-decoration: underline;
    }

    .no-print {
      display: none;
    }
  }

}